<main id="contact">


    <section>

        <h1>¡Contactanos!</h1>

        <div id="in-contact">

            <article>
                <p>Puedes contactarnos a este numero o enviarnos un mensaje el cual será respondido al correo ingresado
                </p>
            </article>

            <form #userForm="ngForm" (ngSubmit)="onSubmit()">

                <input type="text" name="name" id="name" placeholder="Nombre" #name="ngModel"
                    [(ngModel)]="userMessage.name" required pattern={{regExName}}>

                <p *ngIf="!name.valid && name.touched"><b class="error">Verifique su nombre</b></p>

                <input type="text" name="lastname" id="lastname" placeholder="Apellido" #surname="ngModel"
                    [(ngModel)]="userMessage.surname" required pattern={{regExName}}>

                <p *ngIf="!surname.valid && surname.touched"><b class="error">Verifique su apellido</b></p>


                <input type="email" name="email" id="email" placeholder="Correo electronico" #email="ngModel"
                    [(ngModel)]="userMessage.email" required pattern={{regExName}}>
            
                <p *ngIf="!email.valid && email.touched"><b class="error">Verifique su email</b></p>

                <textarea name="comment" id="contact-comment" cols="30" rows="10"
                    placeholder="Introduce tu comentario..." #message="ngModel" [(ngModel)]="userMessage.message"
                    required></textarea>

                <p *ngIf="!message.valid && message.touched"><b class="error">Verifique su mensaje</b></p>


                <button type="submit" [disabled]="userForm.invalid">Enviar</button>
            

            </form>


        </div>

    </section>



</main>