#errorPage {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-image: url(../../../assets/images/errorPage.jpg);
    background-position: 75% 50%;
    background-size: cover;
}