<main id="shop">

    <div *ngIf="desserts && coffees ; else noProducts">

        <h1>Nuestros cafes</h1>

        <app-product-box [items]="coffees" [cart]="cart" [total]="total"></app-product-box>

        <h1>Nuestros postres</h1>

        <app-product-box [items]="desserts" [cart]="cart" [total]="total"></app-product-box>


        <app-cart-box [cart]="cart" [total]="total"></app-cart-box>

        

    </div>

    <ng-template #noProducts>
        <h1 class="error">Ha ocurrido un error al cargar productos</h1>
    </ng-template>

</main>