<main id="shop">

    <div *ngIf="desserts && coffees ; else noProducts">

        <h1>Nuestros cafes</h1>

        <app-product-box [items]="coffees"></app-product-box>

        <h1>Nuestros postres</h1>

        <app-product-box [items]="desserts"></app-product-box>


        <div id="cart">

            <h1>Carrito</h1>

            <ul id="cart-holder"></ul>

            <p>Total $<span id="total-holder">0</span></p>

        </div>

    </div>

    <ng-template #noProducts>
        <h1 class="error">Ha ocurrido un error al cargar productos</h1>
    </ng-template>

</main>