<div id="login-conteiner">

    <h1>Iniciar sesión</h1>

    <form action="">

        <h3>Correo electronico</h3>
        <input type="text" style="color:black" name="email" id="signup-email" placeholder="Correo electronico"
            #email="ngModel" [(ngModel)]="logInUser.email">

        <h3>Contraseña</h3>
        <input type="password" style="color:black" name="password" id="signup-password" placeholder="Contraseña"
            #password="ngModel" [(ngModel)]="logInUser.password">


        <button type="button" (click)="onSubmit()"><b>Ingresar</b></button>

        <h3>¡Puedes ingresar con Google!</h3>
        <button type="button " style="background-color: skyblue;" (click)="onClick()"><b>Ingresar con
                Google</b></button>

        <h3> ¡Crea tu cuenta ahora mismo!</h3>
        <button type="button" [routerLink]="['/signUp']"><b>Crear cuenta</b></button>

    </form>




</div>