<main id="inicio">


    <article>

        <h1>Origen, un lugar para encontrarte...</h1>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe doloribus aperiam laudantium, unde cum iste ea commodi dolor, nostrum voluptatibus veniam impedit vitae dignissimos perspiciatis soluta distinctio odio eum consectetur?</p>

        <h1>Atreverte a sentir...</h1>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae temporibus inventore commodi tempore maxime possimus enim atque explicabo aperiam aliquam labore odit at hic ratione velit excepturi, ullam accusamus itaque?</p>

    </article>

</main>