<header>

    <div class="brand">

        <img src="../../../assets/images/loguin.png" alt="">

        <h1 class="title">Origen Eco-Almacen</h1>

    </div>

    <button class="fa fa-bars"></button>

    <nav>

        <ul class="nav_1 nav_menu">

            <li [routerLink]="['/home']" [routerLinkActive]="['active']">
                <a>Inicio</a>
            </li>

            <li [routerLink]="['/products']" [routerLinkActive]="['active']">
                <a>Productos</a>
            </li>

            <li [routerLink]="['/ubication']" [routerLinkActive]="['active']">
                <a>Ubicación</a>
            </li>

            <li [routerLink]="['/contact']" [routerLinkActive]="['active']">
                <a>Contacto</a>
            </li>

            <li [routerLink]="['/about']" [routerLinkActive]="['active']">
                <a>Nosotros</a>
            </li>
        </ul>

    </nav>

</header>