* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    width: 100%;
    text-decoration: none;
    color: white;
}

body {
    background-color: tomato;
}

h1 {
    margin: 20px 0px 20px 0px;
    font-size: 30px;
}

p {
    padding: 0px 20px 0px 20px;
}

.hidden {
    display: none;
}

/* TIENDA */

#shop {
    padding: 20px 0px 20px 0px;
    background-image: url(../images/fondo-black.jpg);
    min-height: 100vh;
}

#shop h1 {
    text-align: center;
}

#product-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.product-conteiner {
    margin: 15;
    width: 150px;
    padding: 5px;
    background-color: #ccbdbd;
    border-radius: 15px;
    min-height: 250px;
    border: black solid 2px;
}

.product-conteiner h3 {
    color: black !important;
    text-align: center;
}

.product-conteiner button {
    background-color: #302f2f;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
}

.product-conteiner button:hover {
    background-color: black;
}

.product-conteiner:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

#food-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.price {
    text-align: end !important
}

#cart-holder {
    background-color: #302f2f;
}

#cart-holder li {
    display: flex;
    margin-bottom: 2px;
    border-bottom: 2px solid tomato;
}

#cart-holder button {
    color: black !important;
}

#cart-holder input {
    color: black !important;
    width: 30px;
}

#cart {
    background-color: #302f2f;
    border: 2px solid tomato;
    border-radius: 20px;
    margin-top: 20px;
}

@media (min-width:1025px) {

    .active {
        background-color: tomato;
        display: block;
        text-align: center;
    }


}