<div id="cart">

    <h1>Carrito</h1>

    <ul id="cart-holder">
        <li *ngIf="cart.length > 0">
            <h3>Producto</h3>
            <h3>Cantidad</h3>
            <h3>Precio</h3>
            <h3>Eliminar</h3>
        </li>

         <li *ngFor="let item of cart">
            <h3>{{item.product.name}}</h3>
            <!-- <input id="quantity" value="{{item.quantity}}"/> -->
            <h3>{{item.quantity}}</h3>
            <h3 type="number" id="price">${{item.product.price * item.quantity}}</h3>
            <h3 class="deleteItem"  (click)="outOfCart(item.product)">Eliminar uno</h3>
        </li> 
    </ul>
 
    <h2 id="total-holder">Total ${{total}}</h2> 

    <button *ngIf="cart.length > 0" style="color:black">Terminar compra</button>
 


</div>