#cart-holder {
    background-color: #302f2f
}

#cart-holder li {
    display: flex;
    margin-bottom: 2px;
    border-bottom: 2px solid tomato;
    height: 5vh;
    align-items: center;
}

#cart-holder button {
    color: black !important;
}

#cart-holder input {
    color: black !important;
    width: 30px;
}

#cart {
    background-color: #302f2f;
    border: 2px solid tomato;
    border-radius: 20px;
    margin-top: 20px;
}

h2{
    text-align: center;
}

p{
    text-align: center;
    border-right: solid 2px tomato;
}


h3{
    text-align: center;
    border-right: solid 2px tomato;
}

.deleteItem{
    cursor:pointer;
    
}


@media (min-width:1025px) {
    #cart {
        background-color: #302f2f;
        border: 2px solid tomato;
        border-radius: 20px;
        margin:auto;
        width: 70vw;
       margin-top: 20px;
    }
    
}